@import "../../styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
    min-height: 100vh;
  
    .header {
      position: sticky;
      top: 0;
      z-index: 50;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
      max-width: 1240px;
      width: 100%;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
    }

  .content {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
      flex: 1;

    .main {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      margin-top: 30px;

      @include md {
        flex-direction: row;
        margin-top: 50px;
      }
    }
  }
}
